<!DOCTYPE html>
<html>
  <head>
    <title>Sinatra Highlighter</title>
  </head>
  <body>
    <form action="/highlight" method="post">
      <textarea name="code" rows="10" cols="50"></textarea>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
