<!DOCTYPE html>
<html>
  <head>
    <title>Sinatra Highlighter</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/styles/default.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
    <style>
      pre {
        background-color: #F4F4F4;
        border: 1px solid #CCC;
        padding: 10px;
      }

      pre code {
        display: block;
        font-size: 14px;
        font-family: Consolas,Monaco,Andale Mono,monospace;
        color: #333;
        overflow-x: auto;
        white-space: pre-wrap;
      }
    </style>
  </head>
  <body>
    <pre><code><%= @code %></code></pre>
  </body>
</html>
